@page
@model BankStartWeb.Pages.Customer.AccountDetailsModel
@{
}

<h2>Transactions from @Model.AccountType</h2>

<div>
    <a class="btn-solid-border" asp-page="AccountsManager/Withdrawal" asp-route-id="@Model.Id">Withdrawal</a>
    <a class="btn-solid-border" asp-page="Deposit" asp-route-id="@Model.Id">Deposit</a><br >
    <a class="btn-solid-border" asp-page="Transfer" asp-route-id="@Model.Id">Transfer</a><br >
    <table class="table" id="posts-table">
        <tr>
           <td>Type</td>
           <td>Operation</td>
           <td>Date</td>
           <td>Amount</td>
        </tr>
    </table><br>

    <a class="btn-solid-border" href="javascript:fetchMore();">See more</a><br>

    <h3>Total Balance: @Model.TotalBalance</h3><br>

</div>

@section Scripts
{
    <script>
        pageNumber = 1;//Start at page 1
        function fetchMore() {  //fetchMore() contains fetch()
            fetch("AccountDetails?handler=FetchMore&pageNumber=" + pageNumber + "&id=@Model.Id")//needs url, pageNumber, Id
                .then((response) => response.json())//
                .then((json) => {
                    pageNumber = pageNumber + 1;
                    json.items.forEach(tableElements);
                    }
                );
        }

        function tableElements(element) {
           
            document.querySelector('#posts-table tbody').innerHTML +=
                `<tr>
            <td>${element.type}</td>
            <td>${element.operation}</td>
            <td>${element.date}</td>
            <td>${element.amount}</td>
        </tr>`;
        }

        document.addEventListener("DOMContentLoaded", function () {
            fetchMore();
        });
    
    </script>
}



