@page
@model BankStartWeb.Pages.Customer.CustomersListModel
@{
}




<div class="table">
    <h1>All Customers</h1>
    <div>
        <a class="btn-solid-border" asp-page="NewCustomer">Create new</a>
    </div>
    </div>
    <div>
        <form method="GET">
        <label>Search by id</label>
        <input asp-for="@Model.SearchId"/>
        <input type="submit" value="Search" />
    </form>
    </div>
    <div>
        <form method="GET">
        <label>Search by name or city</label>
        <input asp-for="@Model.SearchWord"/>
        <input type="submit" value="Search" />
    </form>
    </div>

<table class="table">
    <tr>
        <td>Id
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-col="id" asp-route-order="asc" >
                <i class='bx bx-sort-up'></i></a>
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-col="id" asp-route-order="desc" >
                <i class='bx bx-sort-down' ></i></a>
        </td>
        <td>National Id
            <a asp-page="CustomersList" asp-route-searchWord="" asp-route-col="nationalId" asp-route-order="asc" >
                <i class='bx bx-sort-up'></i></a>
            <a asp-page="CustomersList" asp-route-searchWord="" asp-route-col="nationalId" asp-route-order="desc" >
                <i class='bx bx-sort-down' ></i></a>
        </td>
        <td>Given Name
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-col="givenName" asp-route-order="asc" >
                <i class='bx bx-sort-up'></i></a>
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-col="givenName" asp-route-order="desc" >
                <i class='bx bx-sort-down' ></i></a>
        </td>
        <td>Sur Name
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-col="surName" asp-route-order="asc" >
                <i class='bx bx-sort-up'></i></a>
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-col="surName" asp-route-order="desc" >
                <i class='bx bx-sort-down' ></i></a>
        </td>
        <td>Street Address
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-col="streetAddress" asp-route-order="asc" >
                <i class='bx bx-sort-up'></i></a>
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-col="streetAddress" asp-route-order="desc" >
                <i class='bx bx-sort-down' ></i></a>
        </td>
        <td>City
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-col="city" asp-route-order="asc" >
                <i class='bx bx-sort-up'></i></a>
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-col="city" asp-route-order="desc" >
                <i class='bx bx-sort-down' ></i></a>
        </td>
    </tr>
    @foreach(var customer in Model.CustomersList)
    {
        <tr class="td">    
            <td><a asp-route-id="@customer.Id" asp-page="CustomerDetail">@customer.Id</a></td>
            <td><a asp-route-id="@customer.NationalId" asp-page="CustomerDetail">@customer.NationalId</a></td>
            <td>@customer.Givenname</td>
            <td>@customer.Surname</td>
            <td>@customer.Streetaddress</td>
            <td>@customer.City</td>
            <td class="td">
                <a class="btn-main, btn-solid-border" asp-page="EditCustomer" asp-route-Id="@customer.Id">EDIT</a><br>
                <a class="btn-main, btn-solid-border" asp-page="CustomerDetail" asp-route-Id="@customer.Id">Details</a>
            </td>
        </tr>
    }

    <tr>
        <td>
            @if (Model.PageNo > 1)
            {
                <a asp-page="CustomersList" asp-route-col="@Model.SortCol" asp-route-order="@Model.SortOrder"  asp-route-searchWord="@Model.SearchWord"   asp-route-pageno="@(Model.PageNo - 1)">Prev</a>
            }
        </td>
        <td> Visar sidan @Model.PageNo av totalt @Model.TotalPageCount  </td>
        <td>
            @if (Model.PageNo < Model.TotalPageCount)
            {
                <a asp-page="CustomersList" asp-route-col="@Model.SortCol" asp-route-order="@Model.SortOrder" asp-route-searchWord="@Model.SearchWord" asp-route-pageno="@(Model.PageNo + 1)">Next</a>
            }
        </td>
    </tr>
</table>