@page
@model BankStartWeb.Pages.Customer.CustomerDetailModel
@{
}

<style>
.customerDetailTable
{
    margin: auto;
    width: 85%;
}

.customerDetailContent
{
    margin: 20px;
}
.tableRow
{
    font-weight:700;
}
</style>

<div class="table customerDetailTable">
    <div>
        <h2>@Model.Givenname @Model.Surname</h2>
         <div class="customerDetailContent">
            <a class="btn-main btn-solid-border" asp-page="EditCustomer" asp-route-id="@Model.Id">EDIT</a>
         </div>
    </div>
</div>

<table class="table customerDetailTable">
    <tr class="tableRow">
        <td>Id</td>
        <td>National Id</td>
        <td>Given Name</td>
        <td>Sur Name</td>
        <td>Street Address</td>
        <td>City</td>
        <td>Zip Code</td>
        <td>Country</td>
        <td>Country Code</td>
        <td>Telephone Country Code</td>
        <td>EmailAddress</td>
        <td>Birthday</td>
        <td>Total Balance</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.NationalId</td>
        <td>@Model.Givenname</td>
        <td>@Model.Surname</td>
        <td>@Model.Streetaddress</td>
        <td>@Model.City</td>
        <td>@Model.Zipcode</td>
        <td>@Model.Country</td>
        <td>@Model.CountryCode</td>
        <td>@Model.TelephoneCountryCode</td>
        <td>@Model.EmailAddress</td>
        <td>@Model.Birthday</td>
        <td>@Model.TotalBalance</td>
    </tr>
</table>
<br>
<table class="table customerDetailTable">
    <div class="table customerDetailTable">
        <h3>Accounts</h3>
    </div>
        <tbody>
            @foreach(var account in Model.AccountRows)
                {
                    <tr>
                        <td class="tableRow">@account.AccountType</td>
                    </tr>
                    <tr>
                        <td>@account.Balance</td>
                    </tr>
                    <tr>
                        <td class="td">
                            <a class="btn-solid-border" asp-page="Withdrawal" asp-route-id="@account.Id">Withdrawal</a>
                            <a class="btn-solid-border" asp-page="Deposit" asp-route-id="@account.Id">Deposit</a>
                            <a class="btn-solid-border" asp-page="Transfer" asp-route-customerId="@Model.Id">Transfer</a>
                            <a class="btn-solid-border" asp-page="AccountDetails" asp-route-id="@account.Id">See transactions</a>
                        </td>
                    </tr>
                }
            <tr>
                <td class="tableRow">Total Balance</td>
            </tr>
            <tr>
                <td>@Model.TotalBalance</td>
            </tr>
        </tbody>
</table>

   