@page
@model BankStartWeb.Pages.Customer.CustomerDetailModel
@{
}

<h2>@Model.Givenname @Model.Surname</h2>

<table class="table">
    <tr>
        <td>Id
            @Model.Id
        </td>
        <td>National Id
            @Model.NationalId
        </td>
        <td>Given Name
            @Model.Givenname
        </td>
        <td>Sur Name
            @Model.Surname
        </td>
        <td>Street Address
            @Model.Streetaddress
        </td>
        <td>City
            @Model.City
        </td>
        <td>Accounts
            @foreach(var account in Model.AccountRows)
            {
                <tr>
                    <td>@account.AccountType</td>
                    <td>@account.Balance</td>
                </tr>
            }
        </td>

    </tr>
</table>