@page
@model BankStartWeb.Pages.Customer.CustomersListModel
@{
}

<style>
.allCustomersContent
{
    margin: 20px;
    justify-content: space-around;
}
.allCustomersTable {
    width: 80%;
}
.searchForm
{
    margin-bottom: 20px;
}
.tableRow
{
    font-weight:700;
}
</style>

<div class="table">
    <div>
        <h1>All Customers</h1>
        <div class="allCustomersContent">
            <a class="btn-solid-border" asp-page="NewCustomer">Create new</a>
        </div>
    </div>
    <div  class="allCustomersContent">
        <form class="searchForm">
            <input type="number" asp-for="@Model.SearchId" placeholder="National Id"/>
            <input type="submit" value="Search" />
        </form>
        <form>
            <input type="text" asp-for="@Model.SearchWord" placeholder="Name/City"/>
            <input type="submit" value="Search" />
        </form>
    </div>
</div>

<table class="table allCustomersTable">
    <tr class="tableRow">
        <td>Id
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-col="id" asp-route-order="asc" >
                <i class='bx bx-sort-up'></i></a>
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-col="id" asp-route-order="desc" >
                <i class='bx bx-sort-down' ></i></a>
        </td>
        <td>National id
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-col="nationalId" asp-route-order="asc" >
                <i class='bx bx-sort-up'></i></a>
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-col="nationalId" asp-route-order="desc" >
                <i class='bx bx-sort-down' ></i></a>
        </td>
        <td>Given Name
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-col="givenName" asp-route-order="asc" >
                <i class='bx bx-sort-up'></i></a>
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-col="givenName" asp-route-order="desc" >
                <i class='bx bx-sort-down' ></i></a>
        </td>
        <td>Surname
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-col="surName" asp-route-order="asc" >
                <i class='bx bx-sort-up'></i></a>
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-col="surName" asp-route-order="desc" >
                <i class='bx bx-sort-down' ></i></a>
        </td>
        <td>Street address
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-col="streetAddress" asp-route-order="asc" >
                <i class='bx bx-sort-up'></i></a>
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-col="streetAddress" asp-route-order="desc" >
                <i class='bx bx-sort-down' ></i></a>
        </td>
        <td>City
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-col="city" asp-route-order="asc" >
                <i class='bx bx-sort-up'></i></a>
            <a asp-page="CustomersList" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-col="city" asp-route-order="desc" >
                <i class='bx bx-sort-down' ></i></a>
        </td>
    </tr>

    @foreach(var customer in Model.CustomersList)
    {
        <tr class="td">    
            <td><a asp-route-id="@customer.Id" asp-page="CustomerDetail">@customer.Id</a></td>
            <td><a asp-route-id="@customer.Id" asp-page="CustomerDetail">@customer.NationalId</a></td>
            <td><a asp-route-id="@customer.Id" asp-page="CustomerDetail">@customer.Givenname</a></td>
            <td>@customer.Surname</td>
            <td>@customer.Streetaddress</td>
            <td>@customer.City</td>
            <td class="td">
                <a class="btn-main btn-solid-border allCustomersContent" asp-page="EditCustomer" asp-route-id="@customer.Id">Edit</a>
                <a class="btn-main btn-solid-border allCustomersContent" asp-page="CustomerDetail" asp-route-id="@customer.Id">Details</a>
            </td>
        </tr>
    }

    <tr>
        <td>
            @if (Model.PageNo > 1)
            {
                <a class="btn-solid-border" asp-page="CustomersList" asp-route-col="@Model.SortCol" asp-route-order="@Model.SortOrder"  asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-pageno="@(Model.PageNo - 1)">Prev</a>
            }
        </td>
        <td class="tableRow"> Visar sidan @Model.PageNo av totalt @Model.TotalPageCount  </td>
        <td>
            @if (Model.PageNo < Model.TotalPageCount)
            {
                <a class="btn-solid-border" asp-page="CustomersList" asp-route-col="@Model.SortCol" asp-route-order="@Model.SortOrder" asp-route-searchWord="@Model.SearchWord" asp-route-searchId="@Model.SearchId" asp-route-pageno="@(Model.PageNo + 1)">Next</a>
            }
        </td>
    </tr>
</table>